body {
  background-color: #333333;
}
img {
  margin: 12% auto 3% 40%;
  width: 250px;
  height: auto;
}

#search {
  margin: 0 auto;
  width: 50%;
  border-style: solid;
  background-color: #888888;
}
